/* 直接进入购物中心 */
.go {
    position: fixed;
    top: 5%;
    right: 5%;
    border: none;
}

.go:focus {
    outline: none;
}

/* 八个屏幕 */

/* START 第一个屏幕 */
.section-1 {
    background: #fadd67 url("../images/t1fpyqfltdxxaiulhh-990-600.png") no-repeat center bottom;
}

/* 小飞艇 */
.fly {
    position: absolute;
    right: 20%;
    top: 10%;
}

/* 漂浮的小沙发图标 */
.shirt-01 {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 335px;
}

/* 第一个屏幕漂浮但没有动画的小图标 */
.goods {
    position: absolute;
    left: 50%;
    margin-left: -410px;
    bottom: 150px;
}
/* END 第一个屏幕 */

/* START 第二个屏幕 */
.section-2 {
    background: #84a2d4 url("../images/t1zdgpfi8exxca6rfn-2000-600.png") no-repeat center bottom;
    z-index: 3;
}

/* 第二个屏幕中的电脑屏幕显示 */
.computer {
    width: 990px;
    height: 500px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
}

/* 搜索框 */
.search {
    width: 222px;
    height: 45px;
    background: url("../images/search.png") no-repeat;
    position: absolute;
    right: -50px;
    bottom: 300px;
    display: none;
}

.search-words {
    position: absolute;
    right: 30px;
    top: 3px;
    display: none;
}

/* 替换 search 的图片 */
.search-02-1 {
    position: absolute;
    bottom: 300px;
    right: 370px;
    display: none;
}

/* 电脑屏幕中间显示的沙发搜索结果 */
.goods-02 {
    position: absolute;
    height: 100px;
    bottom: 210px;
    right: 270px;
    display: none;
}

/* 第二个屏幕首先显示的 description */
.words-01 {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 550px;
}

/* 当标准动画完成时，覆盖掉 words-01 的 description */
.words-02 {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 550px;
    display: none;
}
/* END 第二个屏幕 */

/* START 第三个屏幕 */
.section-3 {
    background: #ef674d;
    z-index: 2;
}

.main-03 {
    position: absolute;
    width: 700px;
    height: 500px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 80px;
    background: url("../images/main.png") no-repeat center center;
}

/* 第三个窗口的选择操作盒子 */
.select {
    width: 300px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 8px;
}

/* 购物车按钮 */
.btn-01 {
    position: absolute;
    bottom: 30px;
}

.btn-01-a {
    display: none;
    z-index: 2;
}

/* 选择颜色 */
.img-01 {
    position: absolute;
    top: 0;
}

.img-01-a {
    display: none;
    z-index: 2;
}

/* 第三屏中的沙发 */
.shirt-02-207,
.t1f {
    position: absolute;
    left: 115px;
    bottom: 200px;
    display: none;
}

/* 最开始位于第二屏中的沙发 */
.shirt-02 {
    position: absolute;
    bottom: 339px;
    left: 393px;
    width: 102px;
    z-index: 10;
    display: none;
}

/* 用来遮挡第二个屏幕中原来的沙发的盒子 */
.shirt-cover {
    position: absolute;
    bottom: 334px;
    right: 496px;
    width: 101px;
    height: 90px;
    background-color: #ffffff;
    z-index: 5;
    display: none;
}
/* END 第三个屏幕 */

/* START 第四个屏幕 */
.section-4 {
    background: #ffeedd url("../images/t1iresfnxaxxca6rfn-2000-600.png") no-repeat center bottom;
}

.cloud {
    position: absolute;
    left: 50%;
    bottom: 550px;
}

.words-04 {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 500px;
}

.words-04-a {
    display: none;
}

/* 整体购物车的盒子 */
.shopping-car {
    position: absolute;
    width: 500px;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 999;
}

.shopping-car-shirt {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 200px;
    z-index: -1;
    display: none;
}

/* 购物车消失后的日志 */
.note {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 180px;
    display: none;
}

.note-info {
    position: absolute;
    top: 60px;
    left: 60px;
    display: none;
}
/* END 第四个屏幕 */

/* START 第五个屏幕 */
.section-5 {
    background: #d04759 url("../images/t1yisqfa4exxa3gmkg-2000-1500.png");
    /*overflow: hidden;*/
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
    z-index: 2;
}

.words-05 {
    position: absolute;
    left: 20%;
    top: 15%;
    opacity: 0;
}

.card-05 {
    position: absolute;
    left: 20%;
    bottom: 200px;
    z-index: 10;
}

.order-05 {
    position: absolute;
    left: 27%;
    bottom: 270px;
}

.section-5-t1f {
    position: absolute;
    bottom: 700px;
    left: 25%;
    display: none;
}

/* 普通的鼠标 */
.mouse-05 {
    position: absolute;
    right: 20%;
    bottom: 200px;
}

/* 左键被点击的鼠标 */
.mouse-05-a {
    display: none;
}

.hand-05 {
    position: absolute;
    right: 24%;
    bottom: -375px;
}

/* overflow 只包含了第五个盒子的鼠标和小手，让他们溢出隐藏，从而避免了直接加隐藏连沙发都没了 */
.overflow {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* END 第五个屏幕 */

/* START 第六个屏幕 */
.section-6 {
    background: #84d9ed url("../images/t1dvj.fn0gxxb0_fua-2500-600.png") no-repeat 25% 100%;
}

/* 装沙发的黄色小盒子 */
.box-06 {
    position: absolute;
    left: 123px;
    bottom: 500px;
    z-index: 3;
}

/* 运货的小车 */
.car-06 {
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 4;
}

/* 第六个屏幕天上的云 */
.cloud-06 {
    position: absolute;
    left: 50%;
    bottom: 550px;
}

/* 遵义市 88 号 */
.pop-06 {
    position: absolute;
    bottom: 119px;
    right: 48%;
    display: none;
}

/* 抱着沙发的男人 */
.man-06 {
    position: absolute;
    right: 50%;
    bottom: 0;
    height: 0;
}

/* 女人 */
.women-06 {
    position: absolute;
    right: 315px;
    bottom: 116px;
    height: 123px;
    display: none;
    z-index: 999;
}

/* 开着的门 */
.door {
    position: absolute;
    right: 285px;
    bottom: 116px;
    display: none;
}

/* 请收货 */
.pop-07 {
    position: absolute;
    right: 445px;
    bottom: 400px;
    display: none;
    z-index: 1000;
}

/* 最后展示的 tips */
.words-06-a {
    position: absolute;
    left: 10%;
    bottom: 479px;
    display: none;
}
/* END 第六个屏幕 */

/* START 第七个屏幕 */
.section-7 {
    background: #8ac060 url("../images/t1wf1tfctaxxa3gmkg-2000-1500.png") no-repeat 50% 100%;
}

.star {
    position: absolute;
    left: 50%;
    bottom: 439px;
    margin-left: -295px;
    width: 0;
    height: 20px;
    background: url("../images/star.png") no-repeat;
    -webkit-background-size: 97px;
    background-size: 97px;
}

.good-07 {
    position: absolute;
    bottom: 382px;
    left: 50%;
    margin-left: -286px;
    display: none;
}
/* END 第七个屏幕 */

.section-8 {
    background: url("../images/ksgw.png");
}

/* 小圆点导航 */
#fp-nav ul li a span {
    background-color: #333333;
}

/* 动画 */

/* 第一页的小飞艇 */
.fly-up-and-down {
    -webkit-animation: flyUpAndDown 3s ease-in-out infinite;
    -o-animation: flyUpAndDown 3s ease-in-out infinite;
    animation: flyUpAndDown 3s ease-in-out infinite;
}

@keyframes flyUpAndDown {
    50% {
        top: 18%;
    }
    100% {
        top: 10%;
    }
}

/* 第一页的小沙发 */
.shirt-01-up-and-down {
    -webkit-animation: shirtUpAndDown 2.5s ease-in-out infinite;
    -o-animation: shirtUpAndDown 2.5s ease-in-out infinite;
    animation: shirtUpAndDown 2.5s ease-in-out infinite;
}

@keyframes shirtUpAndDown {
    50% {
        bottom: 375px;
    }
    100% {
        bottom: 335px;
    }
}

/* 第四页的云彩 */
.cloud-4-animation {
    -webkit-animation: cloud4Animation 60s linear infinite;
    -o-animation: cloud4Animation 60s linear infinite;
    animation: cloud4Animation 60s linear infinite;
}

@keyframes cloud4Animation {
    50% {
        left: -10%;
    }
    100% {
        left: 50%;
    }
}

/* 第五页标题的 3D 变换 */
.words-05-a {
    -webkit-animation: words05A 3s;
    -o-animation: words05A 3s;
    animation: words05A 3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes words05A {
    100% {
        opacity: 1;
        -webkit-transform: translateZ(100px) rotateY(360deg);
        -moz-transform: translateZ(100px) rotateY(360deg);
        -ms-transform: translateZ(100px) rotateY(360deg);
        -o-transform: translateZ(100px) rotateY(360deg);
        transform: translateZ(100px) rotateY(360deg);
    }
}

/* 第六个屏幕云彩的运动 */
.cloud-06-a {
    animation: cloud06A 45s linear infinite;
}

@keyframes cloud06A {
    50% {
        left: 10%;
    }
}