/* 直接进入购物中心 */
.go {
    position: fixed;
    top: 5%;
    right: 5%;
    border: none;
}

.go:focus {
    outline: none;
}

/* 八个屏幕 */

/* START 第一个屏幕 */
.section-1 {
    background: #fadd67 url("../images/t1fpyqfltdxxaiulhh-990-600.png") no-repeat center bottom;
}

/* 小飞艇 */
.fly {
    position: absolute;
    right: 20%;
    top: 10%;
}

/* 漂浮的小沙发图标 */
.shirt-01 {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 335px;
}

/* 第一个屏幕漂浮但没有动画的小图标 */
.goods {
    position: absolute;
    left: 50%;
    margin-left: -410px;
    bottom: 150px;
}
/* END 第一个屏幕 */

.section-2 {
    background: #84a2d4 url("../images/t1zdgpfi8exxca6rfn-2000-600.png") no-repeat center bottom;
}

.section-3 {
    background: #ef674d;
}

.section-4 {
    background: #ffeedd url("../images/t1iresfnxaxxca6rfn-2000-600.png") no-repeat center bottom;
}

.section-5 {
    background: #d04759 url("../images/t1yisqfa4exxa3gmkg-2000-1500.png");
}

.section-6 {
    background: #84d9ed url("../images/t1dvj.fn0gxxb0_fua-2500-600.png") no-repeat 25% 100%;
}

.section-7 {
    background: #8ac060 url("../images/t1wf1tfctaxxa3gmkg-2000-1500.png") no-repeat 50% 100%;
}

.section-8 {
    background: url("../images/ksgw.png");
}

/* 小圆点导航 */
#fp-nav ul li a span {
    background-color: #333333;
}

/* 动画 */

/* 第一页的小飞艇 */
.fly-up-and-down {
    animation: flyUpAndDown 3s ease-in-out infinite;
}

@keyframes flyUpAndDown {
    50% {
        top: 18%;
    }
    100% {
        top: 10%;
    }
}

/* 第一页的小沙发 */
.shirt-01-up-and-down {
    animation: shirtUpAndDown 2.5s ease-in-out infinite;
}

@keyframes shirtUpAndDown {
    50% {
        bottom: 375px;
    }
    100% {
        bottom: 335px;
    }
}